.shep{
    height: 70px;
    width: 70px;
    border-radius: 81% 60% 54% 52% / 100% 100% 53% 25% ;
    background-color: wheat;
    font-size: 25px;
}
.card_body{
            box-shadow: 5px 5px 5px wheat;
}
